<%-include("partials/header")%>
<div class="container">
<h1>Show Template</h1>
<h1><%=campground.name%></h1>
<img src="<%=campground.image%>">
<p><%=campground.description%></p>


<a class="btn btn-primary" href="/campgrounds">Back</a>
<a class="btn btn-danger" href="/campgrounds/<%=campground.id%>/edit">Edit</a>
<form class="d-inline" action="/campgrounds/<%=campground.id%>?_method=Delete" method="POST">
<button class="btn btn-success">Delete</button>
</form>

</div>
<%-include("partials/footer")%>

