<%-include('../partials/header')%>
<h1>Edit <%=campground.name%></h1>
<form action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST" style="block">
	<input type="text" name="values[name]" value="<%=campground.name%>" placeholder="POST">
	<input type="text" name="values[image]" value="<%=campground.image%>" placeholder="Image URL">
	<input type="text" name="values[description]" value="<%=campground.description%>" placeholder="Description">
	<button>Edit Campground</button>
</form>
<a href="/campgrounds">Back</a>
<%-include('../partials/footer')%>%>